<nav class="grid grid-cols-3 bg-primario h-20 text-white p-5 ">
    <div>logo</div>


    <ul class="hidden md:flex space-x-10 text-2xl font-primario">
        <li><a href="/home" class="hover:text-zinc-500">Inicio</a></li>
        <li><a href="#" class="hover:text-zinc-500">Productos</a></li>
    </ul>
  
    <div class="flex space-x-4 justify-center font-primario">
        <button routerLink="/iniciar-sesion" type="button" class="text-xl px-4 py-2 cursor-pointer bg-black text-white rounded-xl flex items-center justify-center hover:bg-zinc-500">
            Iniciar Sesion
        </button>
        <button routerLink="/registrarse" type="button" class="text-xl px-4 py-2 cursor-pointer border border-black text-black rounded-xl flex items-center justify-center hover:bg-zinc-500">
            Registrarse
        </button>
    </div>


</nav>