<!-- app-producto.component.html -->
<div class="group relative w-72 bg-white rounded-3xl overflow-hidden shadow-md hover:shadow-2xl hover:-translate-y-1 transition-all duration-300 cursor-pointer">

  <!-- Imagen centrada y con tamaño controlado -->
  <div class="h-52 w-full flex justify-center items-center bg-gray-100">
    @if (producto?.imagenBase64) {
      <img 
        [src]="'data:image/jpeg;base64,' + producto?.imagenBase64" 
        alt="Producto" 
        class="w-40 h-40 object-contain rounded-xl shadow-sm group-hover:scale-105 transition-transform duration-300"
      />
    } @else {
      <img 
        src="OIP.jpg"
        alt="Sin imagen"
        class="w-40 h-40 object-contain rounded-xl shadow-sm group-hover:scale-105 transition-transform duration-300"
      />
    }
  </div>

  <!-- Contenido -->
  <div class="p-5 flex flex-col justify-between h-60">
    <div>
    <a [routerLink]="['/producto-detalle',producto?.productoId]" 
      class="block text-lg text-gray-900 font-semibold font-primario truncate tracking-tight hover:text-yellow-500 transition"
    >
      {{ producto?.nombre }}
    </a>
    <p class="text-xl font-bold text-yellow-500 mt-1">
      Bs. {{ producto?.precio }}
    </p>
    <!-- Info vendedor bonita -->
    <div class="flex items-center gap-4 mt-4">
      <img 
        src="profile.jpg"
        alt="Imagen del vendedor"
        class="w-12 h-12 rounded-full shadow-md border-2 border-yellow-400 object-cover"
      />
      <span class="text-lg font-semibold text-gray-800 dark:text-gray-500 font-primario">
        {{ producto?.nombreVendedor }}
      </span>
    </div>
    <!-- Si quieres poner más info aquí, puedes seguir -->
  </div>
    <button class="mt-4 bg-gray-900 text-white py-2 rounded-xl font-medium hover:bg-black transition-all duration-200 cursor-pointer" (click)="agregarCarrito()">
      + Agregar al carrito
    </button>
  </div>
</div>